@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using NBITTask.Models

@{
    ApplicationDbContext context = new ApplicationDbContext();
    ApplicationUser user;
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
    user = userManager.FindById(User.Identity.GetUserId());
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="navbar-item d-none d-lg-block">
            <div class="dropdown">
                <div class="ml-2 d-flex justify-content-center align-items-center">
                    <h5 style="margin-top: 7px;">@user.Email</h5>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <a class="navbar-item">@Html.ActionLink("Report", "Index", "Reports", routeValues: null, htmlAttributes: new { @class = "nav-link" })</a>
                    }
                </div>
            </div>
        </li>
    }
}
else
{
    <li class="navbar-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li class="navbar-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

}